
  
  .form-section {
    background-color: #f1f1f1;
    padding: 20px;
    width: 400px;
    border-radius: 10px;
    margin-bottom: 20px;
  }
  
  .form-section label {
    display: block;
    margin-bottom: 10px;
  }
  
  .form-section input[type="text"],
  .form-section select {
    width: 50%;
    padding: 5px;
    border-radius: 5px;
    margin-bottom: 10px;
  }
  
  .form-section .image-preview {
    text-align: right;
  }
  
  .form-section .image-preview img {
    max-width: 200px;
    max-height: 200px;
  }
  
  .form-section .buttons {
    display: flex;
    justify-content: flex-end;
  }
  