.Counters {
  text-align: center; /* Center-align all the content within the container */
  margin-top: 50px;
  margin-left: 115px;
}

table {
  border-collapse: collapse;
  margin: 0 auto;
  text-align: center; /* Center-align the content of the table cells */
}

td {
  padding: 10px;
}

.label {
  background-color: blue;
  border: 2px solid black;
  border-radius: 20px;
  box-shadow: inset 0 0 5px black;
  padding: 15px; /* Increase the padding to expand the label size */
  font-weight: bold;
  color: white;
  width: 200px; /* Adjust the width of the label */
  display: block; /* Change to block to center-align the labels in their columns */
  margin: 0 auto; /* Add margin auto to center the labels horizontally */
  font-size: 25px;
}


